<article class="product-item">
    <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
    <h3><%= product.title %></h3>
    <div class="actions">

        <% if(locals.isAdmin) { %>
       <a class= "button btn-alt" href="/admin/products/<%= product.id %>">View & Edit</a>
       <button class="button btn-alt" data-productid="<%= product.id %>" data-csrf="<%= locals.csrfToken %>">Delete</button>
       <% } else { %>
       <a class="button btn-alt" href="/products/<%= product.id %>">View Details</a>
      <% } %>  

</div>
</article>